body
{
    background-color: greenyellow;
}

h1
{
    color: rgb(38, 0, 255);
    background-color: cornsilk;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 150px;
    animation-iteration-count: infinite;
}

p
{
    padding-top: 10px;
    font-size: 30px;
}

#draw
{
    color: red;
    font-size: 35px;
}

#score_span
{
    font-size: 45px;
    margin-left: 1px;
}

#timer_span
{
    font-size: 45px;
    float: right;
    margin-right: 140px;
}